.container {
    width: 90%;
    margin: auto;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.d_flex {
    display: flex;
}

.gab {
    gap: 20px;
}

.overlay {
    background-color: rgba(19, 1, 1, 0.63);
    height: 100%;
}

.margin_right {
    margin-right: 4%;
}

/*custom*/

.nav1 {
    justify-content: space-between;
    background-color: transparent;
    padding-top: 2%;
}

.nb-border {
    border-bottom: 1px solid #ffffff;
}

.links {
    color: white;
    font-size: 20px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 40px;
}

.div1 {
    background-image: url(..//images/image.jpg);
    background-size: 100% 100%;
}

.div2 {
    padding-top: 20%;
    color: white;
}

.div3 {
    padding-top: 20%;
    color: white;
}

.div4 {
    padding-top: 20%;
    color: white;
}

.span1,
.span2,
.span3 {
    border: 4px solid white;
    border-radius: 50%;
    width: 115px;
    height: 51px;
    text-align: center;
    font-size: 38px;

}

.span2:hover ,.span1:hover,.span3:hover {
    border-bottom: 4px solid blue;
    border-right: 4px solid blue;
    border-top: 4px solid blue;

}

.z2 {
    padding-left: 3%;
    padding-bottom: 11%;

}


/*sec2*/
.log2 {
    font-weight: bold;
    font-size: large;
    margin-right: 20%;
}

.nb-border2 {
    border-bottom: 1px solid #aba7a7;
}

.nav2 {
    width: 75%;
    margin-top: 4%;
}

.div5 img {
    width: 100%;

}
.div5 .buttn1
{
    position: relative;
    bottom: 395px;
    left: 24px;
    
}
.p1 {
    font-size: larger;
    font-weight: bolder;
    width: 90%;
    padding-left: 2%;
}

.p2 {
    padding-left: 2%;
    width: 90%;
    margin-bottom: 2%;
}

.div5 {
    margin-top: 3%;
    width: 35%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.line {
    color: blue;

}
.b{
    margin-top: 15%;
}

.buttn1 {
    background-color: white;
    color: blue;
    border: none;
    /* position: relative; */
    cursor: pointer;
    font-size: 18px;
    padding-right: 2%;
    padding-left: 2%;
}


.div7 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div7 img {
    width: 22%;

}

.div6 p {
    width: 90%;
}

.p1 .span4 {
    font-size: smaller;
    display: block;
    margin-top: 3%;
    font-weight: lighter;
}

.div6 {
    margin-top: 3%;
    margin-left: 4%;
    width: 35%;
    height: 18%;

}

.div8 {
    margin-top: 2%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div8 img {
    width: 22%;
    height: 110px;
}

.div9 {
    margin-top: 2%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div9 img {
    width: 22%;
    height: 110px;
}

.div10 {
    margin-top: 2%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.div10 img {
    width: 22%;
    height: 110px;
}

.icons i {
    border: 2px solid #c2c2c2;

    margin-top: 2%;
    border-radius: 50%;
    padding: .5%;
    text-align: center;
    margin-right: 2%;
    font-size: large;
    margin-bottom: 2%;
}

.div13,
.div12 {
    width: 75%;

}

.icons2 i {
    border: 2px solid #c2c2c2;

    margin-top: 2%;
    border-radius: 50%;
    padding: .5%;
    text-align: center;
    margin-right: 2%;
    font-size: large;
}

.ab {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #c2c2c2;
    margin-left: auto;
    padding-left: 6%;
    margin-top: 11%;
}

.lo {

    margin: 6%;
    margin-bottom: none;
}

.right {
    margin-left: -200px;
    margin-top: 10%;
    border-left: 2px solid #c2c2c2;
}

.top {
    margin: auto;
    margin-bottom: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 2px solid #c2c2c2;
}

.div14 {
    padding-left: 6%;
}

.div14 img {
    width: 17%;
}

.stay {
    margin-top: 5%;
}

.social_icons {
    justify-content: space-evenly;



}

.social_icons i {
    border: 1px solid rgb(41, 41, 41);
    border-radius: 50%;
    padding: 50%;
}

#tod {
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 2px solid #c2c2c2;
}

.div15 img {
    width: 100%;
    height: 190px;
}

.div15 {

    padding-top: 5%;
    margin-left: 10%;
}



.b {
    /* position: relative; */
    bottom: 340px;
    left: 150px;
    
}

.card-bg-overlay img {
    width: 100%;
    height: 250px;
}

.card-bg-overlay {
    width: 32%;
    margin-top: 2%;
    margin-right: 6%;
    position: relative;

    text-align: center;
    
}
.card-bg-overlay .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.p3{
    color: white;
    /* position: relative; */
    bottom: 240px;
    left: 5%;
    width: 95%;
}



.Latest{
    width: 100%;
    margin-top: 10%;
}
.div21{
    width: 100%;
    
}
.most{
   margin-top: 6%;
    position: relative;
    left: 150px;
    font-weight: bold;
   width: 40%;
   
   
}
.nb-border3{
    width: 100%;
    border-bottom: 1px solid #aba7a7;
}
.right2 img{
    margin-top: 2%;
    width: 100%;

}
.right2{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
.div21 img{
    height: 190px;
}
.right2 p{
    width:95%;
    padding-top: 0px;
    padding-left: 4%;
}
.aside1{
    width: 100%;
}
.b2{
    position: relative;
    bottom: 200px;
    left: 20px;
    cursor: pointer;
}
.right2 i{
    border: 1px solid white;
    border-radius: 50%;
    background-color: #ffffff;
    height: 30px;
    position: relative;
    bottom: 306px;
    left: 140px;
    padding: 2%;
}
.load{
    width: 10%;
    background-color: white;
    text-align: center;
    margin-top: 5%;
    border: 1px solid gray;
  cursor: pointer;
border-radius: 25px;
padding: 1%;
margin-bottom: 2%;
}
footer{
    background-color: black;
    justify-content: space-between;
}
.foot{
    padding-top: 3%;
    width: 22%;
 
    color: #e1e2e5;
}
.margin_top{
    margin-bottom: 7%;
}
.foot p{
    color: #c2c2c2;
}


.lastul {
    color:#c2c2c2 ;
    margin-left: 25%;
   width: 55%;
    justify-content: space-between;

}
.lastul li{
    width: 30%;
    
}
h2{
    color: white;
}
input{
    background-color: transparent;
    border-right: none;
    border-top: none;
    border-left: none;
    width: 85%;
    margin-top: 3%;
}
.b3 {
    background-color: transparent;
    border: none;
    position: relative;
    left: -18px;
}

